/*
 #0a194a bg
 #1b2956 txtfld bg
 #455d8d txt
 #aeb3c3 head
 #3b26bb btn 1
 #6833ef btn 2

 
    //width: 40%;
    // margin: 0 auto;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50% , -50%);
 
 */
.bg {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right , #348dfe , #0f5ec7);
    position: relative;

    &-text {
       position: absolute;
       top: 40%;
        left: 13%;
       z-index: 10;
       text-transform: capitalize;
       text-align: center;
       
       & > h3 {
           font-size: 1.7rem;
           font-weight: 600;
           color: #fff;
           text-align: center;
       }

       & > p {
           font-size: .8rem;
           margin-top: -6px;
           text-align: center;
           color: #fff;
       }
    }

    &-left {
        flex: 0.35;
    }

    &-img {
        width: 100%;
        height: 100%;
        filter: brightness(60%);
        position: relative;
    }
}

.form {
    flex: 0.65;
    background-color: #fff;
    padding: 5rem;
    border-radius: 3px;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.6);

        &-title {
        color:#348dfe;
        font-size: 2.6rem;
        font-weight: 600;
        padding-bottom: 0;
        line-height: 0.5;
        text-align: center;
        letter-spacing: -1px;
    }

        &-text {
        color: black;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
        margin-top: -5px;
    }

        &-field {
      //  background-color: #f2f2f2;
        border: none;
        border: 1px solid  #ccc;
        box-shadow: 0 8px 15px rgba($color: #f2f2f2, $alpha: 0.95) ;
        width: 90%;
        padding: 1rem;
        margin-top: 5px;
        border-radius: 5px;
        color:#000000;

        &:focus {
            outline: none;
            border: 1px solid #348dfe;
        }
    }

    &-label {
        color: #0f5ec7;
        font-size: 1.4rem;
        font-weight: 500;
        display: block;
    }


    &-link {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 6px 1.5rem;
        background-image: linear-gradient(to right , #348dfe , #0f5ec7);
        text-transform: uppercase;
        border-radius: 3px;
        margin: 0 auto;
    }

    &-group {
        margin-top: 1rem;
    }
        &-btn {
        width: 90%;
        padding: .6rem 0;
        font-size: 1.5rem;
        color:#e7e9f0;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        background-image: linear-gradient(to right , #348dfe , #0f5ec7);
        margin-top: 2rem;

        &:active,
        &:focus,
        &:visited {
            outline: none;
        }
    }



}
.container {
    display: flex;
  padding: 3.5rem 7rem;
    //padding: 0 7rem;
    //  position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50% , -50%);
}





